@model Protectos.Application.ViewModels.Corretoras.CorretoraEnderecoViewModel



@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CorretoraId)

        @Html.Partial("_Endereco")

    </div>

}

    <script>
        $(document).ready(function () {
            $('.btn-salvar').removeClass('hidden');
            $('.btn-excluir').addClass('hidden');
        });
    </script>