@{
    ViewBag.Title = "Home Page";
}
<br />

<div class="jumbotron">
    <h1>RM SOLUTION.IO</h1>
    <p class="lead">Solução ASP.NET MVC utilizando Domain Driven Design.</p>
    <p><a href="https://www.linkedin.com/in/rodrigodemoura/" class="btn btn-primary btn-lg">LinkedIn &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>SOLID</h2>
        <p>
            acrônimo criado por Michael Feathers que representa os 5 princípios da programação orientada a 
            objetos identificados por Robert Cecil Martin ou Uncle Bob nos princípios de 2000.
        </p>               

    </div>
    <div class="col-md-4">
        <h2>DDD</h2>
        <p>
            Domain-Driven Design ou Projeto Orientado a Domínio é um padrão de modelagem de software orientado a 
            objetos que procura reforçar conceitos e boas práticas relacionadas à OO.
        </p>        
    </div>
    <div class="col-md-4">
        <h2>Entity Framework</h2>
        <p>
            Permite que os desenvolvedores de . 
            NET trabalhem com um banco de dados usando objetos . NET. Elimina a necessidade da maioria do 
            código de acesso a dados que os desenvolvedores geralmente precisam gravar.
        </p>
        
    </div>
</div>