
@{
    ViewData["Title"] = "_LayoutContent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderSection("style", required: false)


   <div class="content-wrapper" style="min-height: 524px;">

        <!-- Content Header (Page header) -->
        @RenderSection("header", required: true)
        <!-- Main content -->
        <section class="content container-fluid ">
            @RenderBody()
        </section>
        <!-- /.content -->
    </div>


@RenderSection("scripts", required: false)