
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MENU DE NAVEGACAO</li>
    <!-- Optionally, you can add icons to the links -->

    <li class="active"><a href="#"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-bank"></i> <span>Administradora</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/administradora/index"><i class="fa fa-list"></i><span>Configurações</span></a></li>
            <li><a href="~/administradora/incluir"><i class="fa fa-plus"></i><span>Cadastrar</span></a></li>

        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-bank"></i> <span>Operadora</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/operadora/index"><i class="fa fa-list"></i><span>Lista</span></a></li>
            <li><a href="~/operadora/incluir"><i class="fa fa-plus"></i><span>Cadastrar</span></a></li>

        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-bank"></i> <span>Entidade</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/entidade/index"><i class="fa fa-list"></i><span>Lista</span></a></li>
            <li><a href="~/entidade/incluir"><i class="fa fa-plus"></i><span>Cadastrar</span></a></li>

        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-bank"></i> <span>Corretora</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/corretora/index"><i class="fa fa-list"></i><span>Lista</span></a></li>
            <li><a href="~/corretora/incluir"><i class="fa fa-plus"></i><span>Cadastrar</span></a></li>

        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-bank"></i> <span>Filial</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/filial/index"><i class="fa fa-list"></i><span>Lista</span></a></li>
            <li><a href="~/filial/incluir"><i class="fa fa-plus"></i><span>Cadastrar</span></a></li>

        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-group"></i> <span>Beneficiarios</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/beneficiario/index"><i class="fa fa-list"></i><span>Listar</span></a></li>
            <li><a href="~/beneficiario/incluir"><i class="fa fa-plus"></i><span>Cadastrar</span></a></li>
        </ul>
    </li>


</ul>


