
@{
    ViewBag.Title = "Listar";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

@section header
{
    <section class="content-header">
        <h1>
            Index administradora
            <small>Administradora configurada</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>
}

<h1>teste</h1>
