<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.60.6" targetFramework="net461" />
  <package id="EntityFramework" version="6.3.0-preview5-19254-05" targetFramework="net461" />
  <package id="EntityFramework.SqlServerCompact" version="6.2.0" targetFramework="net461" />
  <package id="FluentValidation" version="8.4.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net461" />
  <package id="SimpleInjector" version="4.5.2" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net461" />
</packages>