<div class="copyright">
    <div class="container">
        <div class="col-md-6">
            <p>© @DateTime.Now.Year - All Rights with rmsolution.io</p>
        </div>
        <div class="col-md-6">
            <ul class="bottom_ul">
                <li><a href="https://www.linkedin.com/in/rodrigodemoura/">rmsolution.io</a></li>
                <li><a href="#">Ajuda</a></li>
                <li><a href="#">Comandos</a></li>
                <li><a href="#">Suporte</a></li>
                <li><a href="#">Chamados</a></li>
                <li><a href="#">Recursos</a></li>
            </ul>
        </div>
    </div>
</div>
