
@model Protectos.Application.ViewModels.Operadoras.OperadoraEmailViewModel


@using (Html.BeginForm())
{
    <div class="modal-body">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Hidden("OperadoraId", (Guid?)ViewBag.OperadoraId)

            @Html.Partial("_Email")


        </div>
    </div>
}

    <script>
        $(document).ready(function () {
            $('.btn-salvar').removeClass('hidden');
            $('.btn-excluir').addClass('hidden');
        });
    </script>